body{

margin: 0;
padding: 0;
background:url(pic.jpg);
background-size: cover;
font-family: Arial, Helvetica, sans-serif;


}

.Input{


width: 300px;
height: 200px;
background: #00000036;
color: #fff;
top: 18%;
left: 39%;
position: absolute;
transform: translate(-50%,-50%);
border-radius: 10px;
border-style: groove;
border-color: rgba(54, 54, 54, 0.438);
box-shadow:10px 10px 10px 1px rgba(0, 0, 0, 0.425), 0 6px 20px 0 rgb(0, 0, 0);
}

.form-control{
    margin-left: 100px;
    width: 100px;
    font-size:14pt;
    background: #0000003a;
    color: white;
    border-color: rgba(43, 42, 42, 0.5);
}

.btn-group{

    margin-left: 75px;
}

.result{
background-color: rgba(61, 61, 61, 0.11);
margin-top: 340px;
color: white;
width: 500px;
margin-left: 430px;
}

.result p{
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 30px;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 

}
